* {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
}

#sidebar {
  overflow: auto;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  width: 400px;
  -webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: width .35s;
  transition: width .35s;
}

#sidebar .close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

#sidebar .close-btn #closer {
  margin: 1em 1.5em;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  background-color: #333;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
}

#sidebar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar .options h3 {
  color: white;
  margin-bottom: 1em;
  position: relative;
}

#sidebar .options h3::before {
  content: "";
  width: 50px;
  height: 50px;
  top: -8px;
  left: -10px;
  position: absolute;
  z-index: -1;
  background-color: #d7b474;
  border-radius: 25px;
}

#sidebar .options a {
  text-decoration: none;
  font-size: 15px;
  padding: 15px 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
}

#sidebar.collapsed {
  width: 0;
}

.navbar {
  width: 100%;
  z-index: 999;
  padding: 10px 20px;
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-box .navbar-brand {
  font-size: 1.8rem;
  color: #fff;
  position: relative;
}

.navbar .nav-box .navbar-brand::before {
  content: "";
  width: 50px;
  height: 50px;
  left: -10px;
  position: absolute;
  z-index: -1;
  background-color: #d7b474;
  border-radius: 25px;
}

.navbar .nav-box .bars {
  cursor: pointer;
}

.navbar .nav-box .bars .bar1, .navbar .nav-box .bars .bar2, .navbar .nav-box .bars .bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
}

.scroll {
  background-color: #000;
}

#content {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header .container .title h5 {
  color: #d7b474;
  font-weight: 300;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

header .container .title h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 74px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

header .container .btn-container {
  margin: 30px 0;
}

header .container .btn-container button {
  display: inline-block;
  margin: 0 10px 20px;
  border: 1px solid white;
  border-radius: 0%;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 40px;
  position: relative;
  overflow: hidden;
}

header .container .btn-container button:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #d7b474;
}

header .container .btn-container button span {
  position: relative;
  z-index: 1;
}

header .container .btn-container button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .container .btn-container .btn {
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

header .container .btn-container .btn:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1, 0) translateZ(0);
          transform: scale(1, 0) translateZ(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

header .container .btn-container .btn:hover {
  border: 1px solid #d7b474;
}

header .container .btn-container .btn:hover:before {
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
}

main #about {
  background-color: #161616;
  padding: 100px 0;
}

main #about .self-info, main #about .self-img {
  margin: 20px 0;
}

main #about .self-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #about .self-img .my-img {
  width: 80%;
}

main #about .self-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #about .self-info .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #about .self-info .heading h6 {
  margin: 0;
  text-transform: uppercase;
  color: #d7b474;
  font-weight: 500;
  letter-spacing: 1px;
}

main #about .self-info .heading span {
  margin: 0 10px;
  background-color: #d7b474;
  width: 40px;
  height: 1px;
}

main #about .self-info .bio h1 {
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 1px;
}

main #about .self-info .bio p {
  color: #b1b1b1;
  letter-spacing: 1px;
}

main #services {
  background-color: #131313;
  padding: 100px 0;
}

main #services .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #services .heading h6 {
  margin: 0;
  text-transform: uppercase;
  color: #d7b474;
  font-weight: 500;
  letter-spacing: 1px;
}

main #services .heading span {
  margin: 0 10px;
  background-color: #d7b474;
  width: 40px;
  height: 1px;
}

main #services h1 {
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 1.5px;
  text-align: center;
}

main #services .service-card {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #services .service-card .card {
  width: 90%;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  background-color: #131313;
  -webkit-box-shadow: -2px -2px 15px black;
          box-shadow: -2px -2px 15px black;
}

main #services .service-card .card .card-title {
  padding: 20px 35px;
}

main #services .service-card .card .card-title h3 {
  color: #fff;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

main #services .service-card .card .card-title h3::before {
  content: "";
  width: 40px;
  height: 40px;
  top: -10px;
  left: -10px;
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  background-color: #d7b474;
  border-radius: 20px;
}

main #services .service-card .card .card-img {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

main #services .service-card .card:hover .card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #portfolio {
  background-color: #131313;
  padding: 100px 0;
}

main #portfolio .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #portfolio .heading h6 {
  margin: 0;
  text-transform: uppercase;
  color: #d7b474;
  font-weight: 500;
  letter-spacing: 1px;
}

main #portfolio .heading span {
  margin: 0 10px;
  background-color: #d7b474;
  width: 40px;
  height: 1px;
}

main #portfolio h1 {
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 1.5px;
  text-align: center;
}

main #portfolio .gallery-card {
  padding: 20px 20px;
}

main #portfolio .gallery-card .card {
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  background-color: #131313;
  position: relative;
  cursor: pointer;
}

main #portfolio .gallery-card .card .card-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, transform .2s;
  transition: opacity .5s, transform .2s, -webkit-transform .2s;
}

main #portfolio .gallery-card .card .search-icon {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 48%;
  left: 48%;
  display: none;
}

main #portfolio .gallery-card .card:hover .card-img {
  opacity: 0.2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

main #portfolio .gallery-card .card:hover .search-icon {
  display: block;
}

main #portfolio .modal .modal-content {
  background-color: transparent;
  border: none;
}

main #portfolio .modal .modal-content .modal-header {
  border: none;
}

main #portfolio .modal .modal-content .modal-header .btn-close {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

main #portfolio .modal .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #testimonial .parallax {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/facial.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/facial.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #testimonial .parallax .container {
  padding: 100px 10px;
}

main #testimonial .parallax .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

main #testimonial .parallax .container .heading h6 {
  margin: 0;
  text-transform: uppercase;
  color: #d7b474;
  font-weight: 500;
  letter-spacing: 1px;
}

main #testimonial .parallax .container .heading span {
  margin: 0 10px;
  background-color: #d7b474;
  width: 40px;
  height: 1px;
}

main #testimonial .parallax .container h1 {
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
}

main #testimonial .parallax .container p {
  color: white;
}

main #testimonial .parallax .container .card {
  border: none;
  background-color: transparent;
}

main #testimonial .parallax .container .card .card-body {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #testimonial .parallax .container .card .card-body .card-title {
  color: #d7b474;
  font-size: 22px;
}

main #testimonial .parallax .container .card .card-body .card-text {
  color: white;
  text-align: center;
  font-size: 20px;
}

main #testimonial .parallax .container .card .card-footer {
  color: white;
  border: none;
  text-align: center;
}

main #contact {
  background-color: #161616;
  padding: 100px 0;
}

main #contact .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #contact .heading h6 {
  margin: 0;
  text-transform: uppercase;
  color: #d7b474;
  font-weight: 500;
  letter-spacing: 1px;
}

main #contact .heading span {
  margin: 0 10px;
  background-color: #d7b474;
  width: 40px;
  height: 1px;
}

main #contact h1 {
  color: white;
  text-transform: uppercase;
  margin: 20px 0 35px;
  letter-spacing: 1.5px;
  text-align: center;
}

main #contact .google-map {
  margin: 30px 0;
}

main #contact .contact-form input[type="text"], main #contact .contact-form input[type="email"], main #contact .contact-form textarea {
  background-color: #1c1c1c;
  border: none;
  border-radius: 0;
  color: peachpuff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

main #contact .contact-form input[type="text"]:focus, main #contact .contact-form input[type="email"]:focus, main #contact .contact-form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #contact .contact-form button {
  border-radius: 0;
  border: 1px solid white;
  padding: 10px 40px;
  color: #fff;
  margin-top: 10px;
}

main #contact .contact-form .btn {
  background-color: none;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s ease-in;
  transition: background-color 0.2s, -webkit-transform 0.2s ease-in;
  transition: background-color 0.2s, transform 0.2s ease-in;
  transition: background-color 0.2s, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

main #contact .contact-form .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #contact .contact-form .btn:hover {
  border: 1px solid #d7b474;
  background-color: #d7b474;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer {
  padding: 100px 0 10px;
}

footer .self-2 {
  width: 220px;
  border-radius: 50%;
  margin-bottom: 50px;
  vertical-align: middle;
}

footer h3 {
  color: #fff;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 1.8rem;
  position: relative;
  margin: 0 10px 25px;
}

footer h3::before {
  content: "";
  width: 50px;
  height: 50px;
  top: -10px;
  left: -10px;
  position: absolute;
  z-index: -1;
  background-color: #d7b474;
  border-radius: 25px;
}

footer p {
  color: white;
  font-size: 18px;
}

footer h4 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin: 0px 0 10px;
}

footer .contact-media .media-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  margin: 5px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

footer .contact-media .media-icon:hover {
  background-color: #d7b474;
  border-color: #d7b474;
}

footer .contact-info .row {
  padding: 5px;
}

footer .contact-info .row a {
  color: white;
}

footer .contact-info .row a span {
  color: #d7b474;
  display: inline-block;
  margin-right: 15px;
}

@media (min-width: 850px) {
  #testimonial .parallax .container .card {
    padding: 50px;
  }
}

@media (max-width: 600px) {
  #testimonial .parallax .container {
    padding: 0;
  }
  #testimonial .parallax .container .card {
    padding: 0;
  }
  #testimonial .parallax .container .card .card-body {
    padding: 0;
  }
}

@media (max-width: 420px) {
  #sidebar {
    width: 100%;
    -webkit-transition: width .35s;
    transition: width .35s;
  }
  .my-img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */